html, body {
    height: 100%;
    font-family: 'Sakkal Majalla';
    background-image: url('../img/bg.png');
    background-size: 100%;
    background-position: center;
}

p {
    font-size: 20px;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: 'Helvetica LT Std';
    font-weight: bold;
}

h2:before, .h2:before,
h2:after, .h2:after
{
    content: '';
    display: inline-block;
    border-bottom: 2px solid #f2c685;
    width: 60px;
    position: relative;
    top: -8px;
}

h3, .h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 150%;
    font-family: 'Sakkal Majalla';
}

h5, .h5 {
    font-size: 20px;
}

.base-color-lighter {
    background-color: #fbefde !important;
    color: #646464 !important;
}

.base-color {
    background-color: #f2c685 !important;
    color: ghostwhite !important;
}

.base-color-darker {
    background-color: #ecbc7c !important;
    color: ghostwhite !important;
}

.base-color-darkest {
    background-color: #e0a96b !important;
    color: ghostwhite !important;
}

.padding-zero
{
    padding: 0 !important;
}

.no-border
{
    border: none !important;
}

.clearfix:before
{
    content: '';
    clear: both;
    display: table;
}

.breadcrumb2
{
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
}

.breadcrumb2>li {
    display: inline-block;
}

.breadcrumb2>li.active {
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.breadcrumb2>li+li:before {
    padding: 0 5px;
    content: "/\00a0";
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.image-border
{
    border: 2px solid #f2c685;
    padding: 10px;
}

.image-border > div
{
    padding: 10px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.image-border > div > div
{
    border: 1px solid #fbefde;
    width: 100%;
    height: 100%;
}


/*navbar*/

.nav2 {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #f2c685;
}

.nav2>* {
    display: inline-block;
    margin: 0px;
}

.nav2>button {
    color: ghostwhite;
    background-color: transparent;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    padding: 10px 15px;
    line-height: 0px;
}

.nav2>ul>li {
    display: block;
}

.nav2>ul>li>a {
    display: block;
    color: darkslategray;
    font-family: 'Helvetica LT Std';
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(1, 1, 1, 0.3);
    font-weight: bold;
    padding: 15px 0px;
    padding-left: 20px;
    border-top: thin solid ghostwhite;
}

.nav2>ul>li>a:hover {
    text-decoration: none;
    color: ghostwhite;
}

.nav2>ul.nav-logo>li>a {
    border-top: none;
}

.nav2>.nav-logo {
    float: left;
}

.nav2>.menu {
    clear: both;
    display: block;
    padding: 0px;
}

.nav2>.drawer-menu {
    float: right;
    margin: 20px 30px;
}

.nav2>.nav-logo>li>a {
    position: relative;
    width: 105px;
    height: 36px;
    padding: 0px;
    display: block;
}

.nav2>.nav-logo>li>a>img {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    vertical-align: middle;
}

.nav2>.nav-logo>li>a>img.primary {
    opacity: 0;
}

.nav2>.nav-logo>li>a>img.secondary {
    opacity: 1;
}

.dropdown>.dropdown-content>a {
    display: block;
    padding: 10px 15px;
    border-top: thin solid ghostwhite;
    color: darkslategray;
    font-family: 'Helvetica LT Std';
    font-weight: bold;
    text-align: left;
    padding-left: 45px;
    text-shadow: 2px 2px 6px rgba(1, 1, 1, 0.3);
}

.dropdown>.dropdown-content>a:hover {
    color: darkslategray;
}

.header-block
{
    background-size: cover;
    background-position: center center;
}

.article-panel {
    width: 100%;
}

.article-panel>.row {
    margin: 0px;
}

.article-panel>.row>.menu-panel {
    text-align: center;
    padding: 0px;
}

.article-panel>.row>.menu-panel>div {
    background-color: white;
    border: thin solid gray;
    text-align: center;
    padding: 20px;
    bottom: 0px;
    height: 300px;
}

.article-panel>.row>.menu-panel>div>.hidden-idle>.button-link {
    border: 2px solid white;
    color: white;
    margin: 0px;
}

.article-logo {
    height: 70px;
}


/*contact block*/

.social-icon {
    width: 40px;
    vertical-align: bottom;
    filter: brightness(1000%);
}

.logo-partner {
    width: 85px;
    vertical-align: bottom;
    margin: 0px 15px;
    filter: brightness(2000%);
}

.input-message {
    color: black;
}

.input-message>input, .input-message>textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: thin solid ghostwhite;
    font-size: 20px;
}

.input-message>input::-webkit-input-placeholder, .input-message>textarea::-webkit-input-placeholder {
    font-size: 20px;
    color: ghostwhite;
}

.input-message>textarea {
    height: auto;
    border: thin solid white;
}

.input-message>button {
    background-color: ghostwhite;
    color: #505050;
    border: none;
    font-size: 20px;
    padding: 5px 18px;
    font-family: 'Helvetica LT Std';
    margin: 5px 0px;
    clear: both;
    float: none;
}

.button-link, .button-link-black {
    display: inline-block;
    padding: 5px 40px;
    margin: 15px;
    font-family: 'Helvetica LT Std';
    font-size: 20px;
}

.button-link {
    border: 2px solid white;
    background-color: #f2c685;
    color: white;
}

.button-link:hover {
    color: white;
    text-decoration: underline;
}

.button-link:focus, .button-link:visited {
    color: white;
    text-decoration: none;
}

.button-link-black {
    border: 2px solid black;
    color: black;
}

.button-link-black:hover {
    color: black;
    text-decoration: underline;
}

.button-link-black:focus, .button-link-black:visited {
    color: black;
    text-decoration: none;
}

#footer {
    padding: 10px 0px;
    font-size: 19px;
}

@media (min-width:992px) {
    
    h2:before, .h2:before,
    h2:after, .h2:after
    {
        width: 140px;
    }

    /*navbar*/
    .nav2 {
        position: fixed;
        width: 100%;
        z-index: 1000;
        text-align: center;
        background-color: transparent;
        -webkit-transition: background-color 1s ease-out;
        /* For Safari 3.1 to 6.0 */
        transition: background-color 1s ease-out;
    }
    .nav2.active {
        background-color: #f2c685;
    }
    .nav2>* {
        display: inline-block !important;
        margin: 0px;
    }
    .nav2>.nav-logo {
        float: none;
    }
    .nav2>.nav-logo>li>a>img.primary {
        opacity: 1;
        -webkit-transition: opacity 1s ease-out;
        /* For Safari 3.1 to 6.0 */
        transition: opacity 1s ease-out;
    }
    .nav2.active>.nav-logo>li>a>img.primary {
        opacity: 0;
    }
    .nav2>.nav-logo>li>a>img.secondary {
        opacity: 0;
        -webkit-transition: opacity 1s ease-out;
        /* For Safari 3.1 to 6.0 */
        transition: opacity 1s ease-out;
    }
    .nav2.active>.nav-logo>li>a>img.secondary {
        opacity: 1;
    }
    .nav2>.drawer-menu {
        float: none;
        display: none !important;
    }
    .nav2>button {
        color: ghostwhite;
        background-color: transparent;
        border: 2px solid ghostwhite;
        border-radius: 5px;
        padding: 10px 15px;
        line-height: 0px;
    }
    .nav2>ul>li {
        display: inline-block;
    }
    .nav2>ul>li>a {
        display: block;
        padding: 30px 35px;
        color: darkslategray;
        font-family: 'Helvetica LT Std';
        font-size: 20px;
        text-shadow: 2px 2px 6px rgba(1, 1, 1, 0.3);
        font-weight: bold;
        border-top: none;
        -webkit-transition: color 1s;
        /* For Safari 3.1 to 6.0 */
        transition: color 1s;
    }
    .nav2.active>ul>li>a {
        color: ghostwhite;
    }
    .nav2>.nav-logo>li>a {
        position: relative;
        width: 105px;
        height: 36px;
        padding: 0px;
        display: block;
    }
    .nav2>.nav-logo>li>a>img {
        position: absolute;
        top: 8px;
        left: 0px;
        width: 100%;
        vertical-align: middle;
    }
    .nav2>.nav-logo>li>a>img.primary {
        opacity: 1;
        -webkit-transition: opacity 1s;
        /* For Safari 3.1 to 6.0 */
        transition: opacity 1s;
    }
    .nav2.active>.nav-logo>li>a>img.primary {
        opacity: 0;
    }
    .nav2>.nav-logo>li>a>img.secondary {
        opacity: 0;
        -webkit-transition: opacity 1s;
        /* For Safari 3.1 to 6.0 */
        transition: opacity 1s;
    }
    .nav2.active>.nav-logo>li>a>img.secondary {
        opacity: 1;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        background-color: #f2c685;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        left: 0px;
        top: 65px;
        z-index: 1000;
        -webkit-transition: max-height 1s;
        /* For Safari 3.1 to 6.0 */
        transition: max-height 1s;
        text-align: left;
    }
    .dropdown:hover>.dropdown-content {
        max-height: 100px;
    }
    .dropdown>.dropdown-content>a {
        display: block;
        padding: 10px 15px;
        border-top: thin solid ghostwhite;
        color: ghostwhite;
        font-family: 'Helvetica LT Std';
        font-weight: bold;
    }
    .dropdown:hover>.dropdown-content>a:hover {
        color: darkslategray;
    }
    /*article block*/
    .panel-block{
        margin-bottom: 198px;
        position: relative;
    }

    .article-panel {
        position: absolute;
        bottom: -198px;
    }
    .article-panel>.row>.menu-panel {
        padding: 0px;
        height: 300px;
    }
    .article-panel>.row>.menu-panel>div {
        position: absolute;
        width: 100%;
        height: 66%;
        -webkit-transition: height 1s, color 1s, background-color 1s;
        /* For Safari 3.1 to 6.0 */
        transition: height 1s, color 1s, background-color 1s;
    }
    .article-panel>.row>.menu-panel>div:hover {
        height: 100%;
        background-color: #f2c685;
        color: ghostwhite;
        border: thin solid white;
    }
    .article-panel>.row>.menu-panel>div>.hidden-idle {
        height: 0px;
        overflow: hidden;
        -webkit-transition: height 1s;
        /* For Safari 3.1 to 6.0 */
        transition: height 1s;
    }
    .article-panel>.row>.menu-panel>div:hover>.hidden-idle {
        height: 50px;
        overflow: hidden;
        display: block;
    }
    .article-panel>.row>.menu-panel>div>img {
        filter: brightness(0%);
        -webkit-transition: filter 1s;
        /* For Safari 3.1 to 6.0 */
        transition: filter 1s;
    }
    .article-panel>.row>.menu-panel>div:hover>img {
        filter: brightness(500%);
    }
    .article-panel>.row>.menu-panel>div>.hidden-idle>.button-link {
        border: 2px solid white;
        color: white;
    }
    /*contact block*/
    .social-icon {
        width: 40px;
        vertical-align: bottom;
        filter: grayscale(100%) brightness(0%) invert(100%);
        -webkit-transition: filter 0.25s;
        /* For Safari 3.1 to 6.0 */
        transition: filter 0.25s;
    }
    .social-icon:hover {
        filter: grayscale(0%);
    }
    .logo-partner {
        width: 85px;
        vertical-align: bottom;
        margin: 0px 15px;
        filter: grayscale(100%) brightness(0%) invert(100%);
        -webkit-transition: filter 0.25s;
        /* For Safari 3.1 to 6.0 */
        transition: filter 0.25s;
    }
    .logo-partner:hover {
        filter: brightness(100%);
    }
    .g-recaptcha {
        float: left;
    }
    .input-message>button {
        margin: 17px 17px;
        clear: none;
        float: left;
    }
}